body * {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;

}

.custom-popover {
    --bs-popover-header-bg: var(--bs-info);
    --bs-popover-header-color: var(--bs-white);
  }